$brand-primary: #0c62fb !default;
$brand-success: #2e7d32 !default;
$brand-info: #0c62fb !default;
$brand-warning: #deff4d !default;
$brand-danger: #c62828 !default;
$text-color: #292929 !default;
$body-bg: #f5f5f5 !default;
$link-color: #002faf !default;
$link-hover-color: #000a25 !default;
$btn-primary-color: #ffffff !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: $brand-primary !default;
$border-radius-base: 8px !default;
$border-radius-large: 12px !default;

$navbar-inverse-bg: #000a25 !default;
$navbar-inverse-border: $brand-warning !default;
$navbar-inverse-link-color: $btn-primary-color !default;
$navbar-inverse-link-hover-color: $btn-primary-color !default;
$navbar-inverse-link-active-color: $btn-primary-color !default;
$navbar-inverse-brand-color: $btn-primary-color !default;
$navbar-inverse-toggle-icon-bar-bg: $btn-primary-color !default;
$navbar-inverse-toggle-border-color: darken($brand-primary, 10%) !default;
